<div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="assets/images/med.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Mohamed Traoré</h5>
        <p class="card-text">Dev. web/Mobile</p>
        <button type="button" class="small-button"><a routerLink="../profile-pro">plus d'info</a></button>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/images/med.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Mohamed Traoré</h5>
        <p class="card-text">Dev. web/Mobile</p>
        <button type="button" class="small-button">plus d'info</button>
      </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="assets/images/med.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Mohamed Traoré</h5>
            <p class="card-text">Dev. web/Mobile</p>
            <button type="button" routerLink="profile-pro" class="small-button">plus d'info</button>
        </div>
    </div>
    <div class="card">
    <img class="card-img-top" src="assets/images/med.png" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Mohamed Traoré</h5>
        <p class="card-text">Dev. web/Mobile</p>
        <button type="button" routerLink="profile-pro" class="small-button">plus d'info</button>
    </div>
    </div>
</div>
 
