.tab {
  display: flex;
  margin: 40px auto;
  border-radius: 20px; 
  box-shadow: 0px 0px 5px #000;
  width: 500px;
  /* padding-left: 40px; */
  height:400px;
  
}
.tab-right {
  border-radius: 20px; 
  box-shadow: 0px 0px 5px #000;
  width: 60%;
  margin-bottom: 50px;
  margin-right: 25px;
  margin-left: 10px;
  margin-top: 40px;
  padding: 10px 10px 10px 10px; 
  

}
.tab-left {
  margin-left: 35px;
  margin-top: 40px; 
  width: 50%; 
  margin-bottom: 50px;
  margin-right: 10px;
  padding: 10px 10px 10px 10px;
}

.category {
  text-align: center;
  width: 200px;
  height: 30px;
  color: #00000080; 
  border: 0px solid black;
  border-radius: 50px;
  box-sizing: border-box;
  box-shadow: 0px 4px 20px 0px #00000040;

}

.skill {
  text-align: center;
  color: #000000;
  margin-top: 15px; 
  /* border: 0px solid black; */
  border-radius: 50px;
  box-shadow: 0px 4px 20px 0px #00000040;

}

span {
  font-weight: bold;
  padding: 14px;  
}

h1{
  background-color:#3780AA;
  border: 35px;
  color:white;
  border-radius: 10px;
  margin-left: 15%;
  padding: 10px 0 10px 10px;
  margin-right: 8%;
  font-size: 80%;
  font-weight: bold;
  height: 36px;

}
