
<h1>PROFILE COMPETENCES</h1>
<div class="tab">
    <div class="tab-left">
        <p class="category">Hello World!Hello World!</p>
        <p class="category">Hello World!</p>
        <p class="category">Hello World!</p>
        <p class="category">Hello World!</p>
        <p class="category">Hello World!</p>
    </div>
    <div class="tab-right">
        <img src="assets/images/BarChart.png" alt="" srcset="" width="20px">
        <span>Competences</span>
        <p class="skill">Hello World!</p>
        <p class="skill">Hello World!Hello</p>
        <p class="skill">Hello World!</p>
        <p class="skill">Hello World!</p>
        <p class="skill">Hello World!</p>
     </div>
<div>
   