
<div>
    <h1>PROFILE UTILISATEUR</h1>
    <div class="left">
        <img src="assets/images/med.png">
        <p>Mohamed Diarra</p>
        <p>Developpeur</p>
        <h3>Contact</h3>
        <hr>
        <p><i class="fa-solid fa-address-book"></i> 352323426525</p>
        <p><i class="fa-solid fa-envelope-open-text"></i> Email</p>
    </div>
    <div class="right">
      <h2>Compétences</h2>
      <div *ngFor="let competence of competences" class="skill">
        <div class="skill-name">{{ competence.nom }}</div>
        <div class="progress-bar">
          <div class="progress" [style.width.%]="getProgressBarWidth(competence.niveau)">
            <div class="progress-label">{{ competence.niveau }}</div>
          </div>
        </div>
     </div>
   </div>
</div>
