<h1>PROFILE UTILISATEUR</h1>
<div class="left">
    <img src="assets/images/med.png">
    <p>Mohamed Diarra</p>

    <p>Developpeur</p>
    <h3>Contact</h3>
    <hr>
    <p><i class="fa-solid fa-address-book"></i> 352323426525</p>
    <p><i class="fa-solid fa-envelope-open-text"></i> Email</p>
</div>
<div class="right">
    <h2><i class="fa-solid fa-chart-bar"></i>      COMPETENCES</h2>
    <hr>
    <p>HTML</p>
    <div class="rect-parent">
        <div class="rec-enfant">
            <div class="petit-enfant">
            </div>
        </div>
    
    </div>
    
    <p>CSS</p>
    <div class="rect-parent">
        <div class="rec-enfant2"></div>
    </div>
    <p>JAVASCRIPT</p>
    <div class="rect-parent">
        <div class="rec-enfant3"></div>
    </div>
    <p>JAVA</p>
    <div class="rect-parent">
        <div class="rec-enfant4"></div>
    </div>
    <p>SQL</p>
    <div class="rect-parent">
        <div class="rec-enfant5"></div>
    </div>








</div>
