img{
    width: 60px;
   justify-content: center;
}
.right{
    float: right;
    margin-right: 17%; ;

}
.left{
    float: left;
    margin-left: 20%;
}
h1{ background-color:#3780AA;
    border: 35px;
    color:white;
    border-radius: 10px;
    margin-left: 15%;
    padding: 10px 0 10px 10px;
    margin-right: 8%;
    font-size: 70%;
    font-weight: bold;

}

.rect-parent{
    width: 20px;
    height: 2px;
    display: flex;
    flex-direction: column;
    color: black;
}

.rect-parent{
    width: 250px;
    height: 15px;
    border: 2px solid gray;
    /* background-color: rgb(222, 219, 225); */
    border-radius: 10px;
}

.rec-enfant1{
    width: 200px;
    height: 15px;
    /* border: 2px solid gray; */
    background-color: #B6A2DF;
    border-radius: 10px;
    
}
.rec-enfant2{
    width: 200px;
    height: 15px;
    /* border: 2px solid gray; */
    background-color: #93E1B2;
    border-radius: 10px;
    
}
.rec-enfant3{
    width: 200px;
    height: 15px;
    /* border: 2px solid gray; */
    background-color: #E7D486;
    border-radius: 10px;
    
}
.rec-enfant4{
    width: 200px;
    height: 20px;
    /* border: 2px solid gray; */
    background-color: #E98C9D;
    border-radius: 10px;
    
}
.rec-enfant4{
    width: 200px;
    height: 15px;
    /* border: 2px solid gray; */
    background-color: #E98C9D;
    border-radius: 10px;
    
}
.rec-enfant5{
    width: 200px;
    height: 15px;
    /* border: 2px solid gray; */
    background-color: #F2B771;
    border-radius: 10px;
    
}
h2{
    font-size: 100%;
}
h3{
    font-size: 120%;
}

ng-template {
    border-radius: 30px;
}
.T1,.T2{
    text-align: center;

}


.modal{
    box-shadow: 0px 0px 10px #777,
                  0px 10px 10px -5px rgba(220,120,0,0.5);
    background-color: #fafafa;
    border-radius: 30px;
    
}
.edit:hover{
    box-shadow: 0px 0px 5px black;
    border: 1px;
}

.sup:hover{
    box-shadow: 0px 0px 5px black;
    border: 1px;
}
 

input {
    
    width: 300px;
    border: 0px;
    border-radius: 15px;
    box-shadow:0px 0px 5px #000 ;
    margin-bottom: 30px;
    height: 40px;
    text-align: center;
}