<h1>PROFESSIONS UTILISATEURS</h1>
<div class="MT">
    <div class="left">
        <img src="assets/images/med.png" width="100px">
        <p class="nom">Mohamed Diarra</p>

        <p class="profession">Dev.Web/Mob</p>

        <p><i class="fa-solid fa-address-book"></i> 82-19-88-29</p>

        <i class="fa-solid fa-pen-to-square"></i>

    </div>

    <div class="right">
        <h2><i class="fa-solid fa-chart-bar"></i> COMPETENCES</h2>


        <div class="rect-parent1">

            <p>HTML</p>

        </div>


        <div class="rect-parent2">

            <p>CSS</p>

        </div>

        <div class="rect-parent3">

            <p>JAVASCRIPT</p>

        </div>

        <div class="rect-parent4">

            <p>JAVA</p>

        </div>

        <div class="rect-parent5">

            <p>MySQL</p>

        </div>

        <div class="rect-parent6">

            <p>PostgreSQL</p>

        </div>

    </div>

</div>