<div class="card">
    <img class="card-img-top" src="assets/images/med.png" alt="Card image cap">
    <div class="card-body">
      <div class="left">
        <h5 class="card-title">{{ utilisateur.nom }} {{ utilisateur.prenom }}</h5>
        <p class="card-text">{{ utilisateur.profession }}</p>
      </div>
      <div class="right">
        <h3>Compétences</h3>
        <ul>
         <li *ngFor="let competence of utilisateur.listeCompetence">
          {{ competence.nom }} 
          <div class="progress-bar">
            <div class="progress"
              [style.width.%]="getProgressBarWidth(competence.niveau)"
              [style.backgroundColor]="getProgressBarColor(competence.niveau)">
            </div>
          </div>
         </li>
        </ul>  
      </div>
    </div>
  </div>
  