.body img {
    width: 700px;
    height: 590px;
    position: fixed;
    right: 8px;
    bottom: 0px;
}
p {
    width: 480px;
    height: 175px;
    top: 367px;
    left: 405px;
    color: #3780AA;
    font-size: 30px;
    font-weight: bold;
    margin-left: 12%;

}
